Repository untile/react-core, changes with the labels that .github/labeler.yml gives for each.
All labels: utils, styles, components, hooks

.github/labeler.yml:

# Auto-generated labeler.yml

# Label for package 'utils'.
utils:
  - src/utils/**/*

# Label for package 'styles'.
styles:
  - src/styles/**/*

# Label for package 'components'.
components:
  - src/components/**/*

# Label for package 'hooks'.
hooks:
  - src/hooks/**/*

Release 1.0.0
  CHANGELOG.md
  package.json
Labels: none

Fix NPM publish action wrong registry
  .github/workflows/publish.yml
Labels: none

Fix NPM publish action wrong registry
  .github/workflows/publish.yml
Labels: none

Release 1.0.0
  CHANGELOG.md
  package.json
Labels: none

Add Coverage badge generator script
  README.md
  bin/generate-coverage-badge.sh
  docs/assets/coverage-badge.svg
  package.json
Labels: none

Update @untile/stylelint-config-react to v1.0.2
  .stylelintrc.js
  package.json
  src/styles/media/__snapshots__/index.test.tsx.snap
  src/styles/media/index.ts
  yarn.lock
Labels: styles

Update @untile/stylelint-config-react to v1.0.2
  .stylelintrc.js
  package.json
  src/styles/media/__snapshots__/index.test.tsx.snap
  src/styles/media/index.ts
  yarn.lock
Labels: styles

Add Coverage badge generator script
  README.md
  bin/generate-coverage-badge.sh
  docs/assets/coverage-badge.svg
  package.json
Labels: none

Fix absolute imports to relative imports
  src/hooks/use-breakpoint/index.ts
Labels: hooks

Bump node to v16 and dependencies
  .github/workflows/publish.yml
  .github/workflows/test.yml
  README.md
  package.json
  src/components/svg/__snapshots__/index.test.tsx.snap
  src/hooks/use-previous/index.ts
  src/styles/media/__snapshots__/index.test.tsx.snap
  src/styles/media/index.ts
  src/styles/svg-background/__snapshots__/index.test.tsx.snap
  yarn.lock
Labels: styles, components, hooks

Bump node to v16 and dependencies
  .github/workflows/publish.yml
  .github/workflows/test.yml
  README.md
  package.json
  src/components/svg/__snapshots__/index.test.tsx.snap
  src/hooks/use-previous/index.ts
  src/styles/media/__snapshots__/index.test.tsx.snap
  src/styles/media/index.ts
  src/styles/svg-background/__snapshots__/index.test.tsx.snap
  yarn.lock
Labels: styles, components, hooks

Fix absolute paths to relative paths in build
  bin/build.sh
  package.json
  tsconfig.build.json
  tsconfig.json
  yarn.lock
Labels: none

Fix absolute paths to relative paths in build
  bin/build.sh
  package.json
  tsconfig.build.json
  tsconfig.json
  yarn.lock
Labels: none

Fix tsconfig to prevent emit
  package.json
  tsconfig.build.json
  tsconfig.json
Labels: none

Remove dom prop from Svg component
  src/components/svg/__snapshots__/index.test.tsx.snap
  src/components/svg/index.tsx
Labels: components

Fix tsconfig to prevent emit
  package.json
  tsconfig.build.json
  tsconfig.json
Labels: none

Remove dom prop from Svg component
  src/components/svg/__snapshots__/index.test.tsx.snap
  src/components/svg/index.tsx
Labels: components

Release 2.0.0
  CHANGELOG.md
  package.json
Labels: none

Release 2.0.0
  CHANGELOG.md
  docs/assets/coverage-badge.svg
  package.json
Labels: none
